@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

body {
  font-family: "Lato", sans-serif;
}

section {
  padding-left: 16rem;
  color: white;
  min-height: 100vh;
}
